@font-face {
    font-family: 'Resist_Sans_Light';
    src: url('~@assets/Groteskly_Yours-Resist_Sans_Text_Light.otf') format('otf');
}

@font-face {
    font-family: 'Resist_Sans_Display_Medium';
    src: url('~@assets/Groteskly_Yours-Resist_Sans_Display_Medium_Oblique.otf') format('otf');
}
